.queulat-form {
	.ui-sortable-placeholder {
		border: 2px dashed #ccc;
		visibility: visible !important;
		& > * {
			visibility: hidden;
		}
	}
	.queulat-sortable {
		.item-edit {
			&::before {
				content: "\f329";
			}
		}
		.item-edit:not(:hover) {
			color: #ccc;
		}
	}
}
